# =========================
# Compiled binaries
# =========================
*.o
*.obj
*.elf
*.exe
*.out
*.app

# =========================
# Libraries
# =========================
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll

# =========================
# Build directories
# =========================
build/
bin/
dist/
out/
cmake-build-*/

# =========================
# Debugging / profiling
# =========================
*.dSYM/
*.su
*.idb
*.pdb
*.gcda
*.gcno
*.gcov
*.prof
gmon.out

# =========================
# Dependency files
# =========================
*.d

# =========================
# CMake
# =========================
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# =========================
# Autotools
# =========================
autom4te.cache/
aclocal.m4
compile
config.h
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1

# =========================
# Editors
# =========================
.vscode/
.idea/
*.swp
*.swo
*~
.project
.cproject
.settings/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# =========================
# OTHER
# =========================

cardgame
error.txt